.button {
  background-color: var(--button-background);
  color: var(--button-text);
  border: 0.1rem solid var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
  margin-top: 0.5rem;
}

.button:hover {
  background-color: var(--button-background-hover);
}
