.footer {
  font-size: 0.8em;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
  background-color: var(--background-color);
}

.footer a {
  text-decoration: underline;
}
