
.Nav {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0 1rem;
    height: 5rem;
    background-color: var(--background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.MenuLink {
    padding: 0 1rem;
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.Active {
    border-color: var(--primary-color);
}
