:root {
  --background-color: rgba(204, 204, 204, 1.0);
  --text-color: rgba(32, 32, 32, 1.0);
  --primary-color: rgb(0, 255, 94);
  --secondary-color: rgb(0, 107, 39);
  --background-end-rgb: 204, 204, 204;
  --background-start-rgb: 32, 32, 32;
  --button-background: rgba(94, 94, 94, 0.2);
  --button-background-hover: rgba(94, 94, 94, 0.4);
  --button-text: rgb(40, 40, 40);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgba(32, 32, 32, 1.0);
    --text-color: rgba(204, 204, 204, 1.0);
    --primary-color: rgb(0, 107, 39);
    --button-background: rgba(94, 94, 94, 0.2);
    --button-background-hover: rgba(94, 94, 94, 0.4);
    --button-text: rgba(204, 204, 204, 1.0);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background-color)
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
