.title {
  margin-bottom: 2rem;
}

.toc {
  margin-bottom: 2rem;
}

.toc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toc li {
  margin-bottom: 0.5rem;
}

.toc a {
  text-decoration: underline;
}

.main {
  align-items: center;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 1rem;
  min-height: 100vh;
}

.category {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.category h2 {
  margin-bottom: 0.5rem;
}

.description {
  margin-bottom: 2rem;
}

.link {
  margin-bottom: 0.2rem;
}
